@import 'normalize';
@import 'mixins';
@import 'vars';

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
}

button {
  border: none;
  appearance: none;
  font-size: 12px;
  background-color: #7E8286;
  &:focus {
    outline: none;
  }
}

h3 {
  color: #fff;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

// // General section header

.section-header {
  padding: 20px;
  & > h3 {
    margin-bottom: 10px
  }
}

// Blacklist section

.blacklist {
  background-color: #DCDCDC;
  border-radius: 5px;
  overflow: hidden;
}

.blacklist__add-word {

}

.blacklist__words {
  padding: 10px;
  min-height: 58px;
}

.blacklist__word {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #525252;
  background-color: #a2a4a3;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  &:hover {
    .blacklist__remove-icon {
      display: block;
    }
  }
}

.blacklist__remove-icon {
  display: none;
  position: absolute;
  top: -6px;
  right: -6px;
  width: 13px;
  height: 13px;
  color: #fff;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: tomato;
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

// Reviews section

.review {
  position: relative;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: #DCDCDC;
  // overflow: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 100px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    // GPU hack
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    will-change: transform;
  }
}

.review--invalid {
  &:after {
    content: 'not valid';
    background-color: tomato;
    transform: translate3d(0, -25px, 0);
  }
}

.review--valid {
  &:after {
    content: 'valid';
    background-color: #27ae60;
    transform: translate3d(0, -25px, 0);
  }
}

.review__text {
  margin: 0;
  padding: 20px;
}

.review__filtered-word {
  color: #fff;
  background-color: tomato;
}

.review__actions {
  @extend %clearfix;
  background-color: #D1D1D1;
}

.review__check {
  // display: block;
  // float: left;
}

.review__remove {
  // display: block;
  color: #FFD3D3;
  background-color: tomato;
  // float: left;
}

.review__edit {
  
}